# CMake
build/
build-*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# Qt Creator
*.user
*.user.*
.qtcreator/

# Compiled files
*.o
*.obj
*.exe
*.dll
*.so
*.a

# Editors and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
